@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.section-1 {
	background: url('CW.png');
	width: 100%;
	background-size: cover;
	height: 100vh;
	background-position: center;
	
}
header {
	display: flex;
	padding: 30px;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 500ms;
}
nav {
	margin-right: 70px;
}
nav a {
	display: inline-block;
	margin-left: 10px;
	font-size: 15px;
	text-decoration: none;
	font-family: Garamont;
	color: black;
	text-transform: uppercase;
	border-bottom:  3px solid transparent;
	padding: 10px 1px;
	transition: 200ms;
}


header.active {
    background-color: white;	 
}
.active {
	border-color: black;
}
nav a:hover {
	border-color:black;
}
.logo {
	flex: 1;
	font-size: 15px;
	font-family: Garamont;
	margin-left: 70px;
	color: black;
	text-transform: uppercase;
}
.bgc {
	background: #eee;
	padding: 10px;
}
.bgc .logo {
	font-size: 30px;
	color: #000;
}
.bgc nav a {
	color: #222;
}

.about-section h2{
	font-family: Garamont;
    text-align: center;
	
}

.section-2 {
	display: flex;
	padding: 20px;
	padding-left: 60px;
	align-items: center; 
    justify-content: center; 
    text-align: center; 
}



.section-2 p {
	padding: 20px;
	line-height: 1.8em;
	font-size: 20px;
	font-family: Lora;
	align-items: center;
}
.card {
	width: 900px;
	height: 500px;
	border-radius: var(--border-radius-primary, 8px); 
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
	padding: 20px;
	box-sizing: border-box;
	margin: 20px;
	display: flex;
	
	
   
  }
  .img{
	width: 300px;
	height: 450px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
}
   
.card__content p {
margin-bottom: 10px;
}

.type--A{
	--line_color : black ;
	--back_color : #ffb3c6  ;
  }
  .type--B{
	--line_color : black  ;
	--back_color : #E9ECFF;
  }
  .type--C{
	--line_color : black ;
	--back_color : #DEFFFA ;
  }
  .button{
	position : relative ;
	z-index : 0 ;
	width : 240px ;
	height : 56px ;
	text-decoration : none ;
	font-size : 14px ; 
	font-weight : bold ;
	color : var(--line_color) ;
	letter-spacing : 2px ;
	transition : all .3s ease ;
}
.button__text{
	display : flex ;
	justify-content : center ;
	align-items : center ;
	width : 100% ;
	height : 100% ;
}
.button::before,
.button::after,
.button__text::before,
.button__text::after{
	content : '' ;
	position : absolute ;
	height : 3px ;
	border-radius : 2px ;
	background : var(--line_color) ;
	transition : all .5s ease ;
}
.button::before{
	top : 0 ;
	left : 54px ;
	width : calc( 100% - 56px * 2 - 16px ) ;
}
.button::after{
	top : 0 ;
	right : 54px ;
	width : 8px ;
}
.button__text::before{
	bottom : 0 ;
	right : 54px ;
	width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__text::after{
	bottom : 0 ;
	left : 54px ;
	width : 8px ;
}
.button__line{
	position : absolute ;
	top : 0 ;
	width : 56px ;
	height : 100% ;
	overflow : hidden ;
}
.button__line::before{
	content : '' ;
	position : absolute ;
	top : 0 ;
	width : 150% ;
	height : 100% ;
	box-sizing : border-box ;
	border-radius : 300px ;
	border : solid 3px var(--line_color) ;
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before{
	left : 0 ;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before{
	right : 0 ;
}
.button:hover{
	letter-spacing : 6px ;
}
.button:hover::before,
.button:hover .button__text::before{
	width : 8px ;
}
.button:hover::after,
.button:hover .button__text::after{
	width : calc( 100% - 56px * 2 - 16px ) ;
}
.button__drow1,
.button__drow2{
	position : absolute ;
	z-index : -1 ;
	border-radius : 16px ;
	transform-origin : 16px 16px ;
}
.button__drow1{
	top : -16px ;
	left : 40px ;
	width : 32px ;
	height : 0;
	transform : rotate( 30deg ) ;
}
.button__drow2{
	top : 44px ;
	left : 77px ;
	width : 32px ;
	height : 0 ;
	transform : rotate(-127deg ) ;
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after{
	content : '' ;
	position : absolute ;
}
.button__drow1::before{
	bottom : 0 ;
	left : 0 ;
	width : 0 ;
	height : 32px ;
	border-radius : 16px ;
	transform-origin : 16px 16px ;
	transform : rotate( -60deg ) ;
}
.button__drow1::after{
	top : -10px ;
	left : 45px ;
	width : 0 ;
	height : 32px ;
	border-radius : 16px ;
	transform-origin : 16px 16px ;
	transform : rotate( 69deg ) ;
}
.button__drow2::before{
	bottom : 0 ;
	left : 0 ;
	width : 0 ;
	height : 32px ;
	border-radius : 16px ;
	transform-origin : 16px 16px ;
	transform : rotate( -146deg ) ;
}
.button__drow2::after{
	bottom : 26px ;
	left : -40px ;
	width : 0 ;
	height : 32px ;
	border-radius : 16px ;
	transform-origin : 16px 16px ;
	transform : rotate( -262deg ) ;
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after{
	background : var( --back_color ) ;
}
.button:hover .button__drow1{
	animation : drow1 ease-in .06s ;
	animation-fill-mode : forwards ;
}
.button:hover .button__drow1::before{
	animation : drow2 linear .08s .06s ;
	animation-fill-mode : forwards ;
}
.button:hover .button__drow1::after{
	animation : drow3 linear .03s .14s ;
	animation-fill-mode : forwards ;
}
.button:hover .button__drow2{
	animation : drow4 linear .06s .2s ;
	animation-fill-mode : forwards ;
}
.button:hover .button__drow2::before{
	animation : drow3 linear .03s .26s ;
	animation-fill-mode : forwards ;
}
.button:hover .button__drow2::after{
	animation : drow5 linear .06s .32s ;
	animation-fill-mode : forwards ;
}
@keyframes drow1{
	0%   { height : 0 ; }
	100% { height : 100px ; }
}
@keyframes drow2{
	0%   { width : 0 ; opacity : 0 ;}
	10%  { opacity : 0 ;}
	11%  { opacity : 1 ;}
	100% { width : 120px ; }
}
@keyframes drow3{
	0%   { width : 0 ; }
	100% { width : 80px ; }
}
@keyframes drow4{
	0%   { height : 0 ; }
	100% { height : 120px ; }
}
@keyframes drow5{
	0%   { width : 0 ; }
	100% { width : 124px ; }
}


.container{
	width : 100% ;
	height : 300px ;
	display : flex ;
	flex-direction : center;
	justify-content : center ;
	align-items : right ;
}
.button:not(:last-child){
  margin-bottom : 64px ;
}

.column_card{
	display: inline-block;
	width:300px;
	height: 400px;
	border-radius: var(--border-radius-primary, 8px); 
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); 
	padding: 20px;
	box-sizing: border-box;
	margin: 20px;
	font-family: Garamont;
	margin: 0 34px; 
    margin-bottom: 20px;
	
 }
 .row {margin: 0 -5px;}

 .column {
	float:inline-start;
	
  }

  .section-3 h2{
    text-align: center;
	font-family: Garamont;
  }
 
  .section-4{

	margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    

  }
  /* Font Awesome Icons */
.fa {
    display: inline-block;
    font-size: 100px;
    color: black; 
    margin: 0 10px; 
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
   
}

/* Instagram */
.fab fa-instagram:hover {
    color: #c66678; 
}

/* Twitter */
.fab fa-twitterr:hover {
    color: #1da1f2; 
}

/* LinkedIn */
.fab fa-linkedin:hover {
    color: #0077b5; 
}

/* Email */
.fa fa-envelope:hover {
    color: #ea4335; 
}
/* Github*/
.fab fa-github:hover {
	color: purple;
}


.column_card {
    position: relative;
}

.button_container {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    display: flex;
    padding: 8px 16px; 
    box-sizing: border-box; 
	justify-content: center;

}

.card_button {
    border: 1px solid #000; 
    border-radius: 15px; 
    padding: 8px 30px; 
    background-color: transparent; 
    color: #000; 
    font-size: 14px; 
    text-decoration: none; 
    transition: background-color 0.3s, color 0.3s; 
	margin-right: 15px;
	
}

.card_button:hover {
    background-color: #000; 
    color: #fff; 
}
/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}


/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.1rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 3rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
footer {
   
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 16px;
	color: black;
}

footer .fa {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

footer .fa:hover {
    color: #f39c12;
}

.grid-container * {
    box-sizing: border-box;
    padding: 1px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr);
    grid-template-rows: 80px repeat(11, 50px);
    grid-column-gap: 20px;
    grid-row-gap: -1px;
    grid-template-areas:
        "col1head col1head col2head col2head col3head col3head"
        "c1a1 c1a2 c2a1 c2a2 c3a1 c3a2"
        "c1b1 c1b2 c2b1 c2b2 c3b1 c3b2"
        "c1c1 c1c2 c2c1 c2c2 c3c1 c3c2"
        "c1d1 c1d2 c2d1 c2d2 c3d1 c3d2"
        "c1e1 c1e2 c2e1 c2e2 c3e1 c3e2"
        "c1f1 c1f2 c2f1 c2f2 c3f1 c3f2"
        "c1g1 c1g2 c2g1 c2g2 c3g1 c3g2"
        "c1h1 c1h2 c2h1 c2h2 c3h1 c3h2"
        "c1i1 c1i2 c2i1 c2i2 c3i1 c3i2"
        "c1j1 c1j2 c2j1 c2j2 c3j1 c3j2"
        "c1k1 c1k2 c2k1 c2k2 c3k1 c3k2";
    width: var(--contentWidth);
}

.col1head { grid-area: col1head; }
.col2head { grid-area: col2head; }
.col3head { grid-area: col3head; }
.c1a1 { grid-area: c1a1; }
.c1a2 { grid-area: c1a2; }
.c2a1 { grid-area: c2a1; }
.c2a2 { grid-area: c2a2; }
.c3a1 { grid-area: c3a1; }
.c3a2 { grid-area: c3a2; }
    
.c1b1 { grid-area: c1b1; }
.c1b2 { grid-area: c1b2; }
.c2b1 { grid-area: c2b1; }
.c2b2 { grid-area: c2b2; }
.c3b1 { grid-area: c3b1; }
.c3b2 { grid-area: c3b2; }
    
.c1c1 { grid-area: c1c1; }
.c1c2 { grid-area: c1c2; }
.c2c1 { grid-area: c2c1; }
.c2c2 { grid-area: c2c2; }
.c3c1 { grid-area: c3c1; }
.c3c2 { grid-area: c3c2; }
    
.c1d1 { grid-area: c1d1; }
.c1d2 { grid-area: c1d2; }
.c2d1 { grid-area: c2d1; }
.c2d2 { grid-area: c2d2; }
.c3d1 { grid-area: c3d1; }
.c3d2 { grid-area: c3d2; }
    
.c1e1 { grid-area: c1e1; }
.c1e2 { grid-area: c1e2; }
.c2e1 { grid-area: c2e1; }
.c2e2 { grid-area: c2e2; }
.c3e1 { grid-area: c3e1; }
.c3e2 { grid-area: c3e2; }
    
.c1f1 { grid-area: c1f1; }
.c1f2 { grid-area: c1f2; }
.c2f1 { grid-area: c2f1; }
.c2f2 { grid-area: c2f2; }
.c3f1 { grid-area: c3f1; }
.c3f2 { grid-area: c3f2; }

.c1g1 { grid-area: c1g1; }
.c1g2 { grid-area: c1g2; }
.c2g1 { grid-area: c2g1; }
.c2g2 { grid-area: c2g2; }
.c3g1 { grid-area: c3g1; }
.c3g2 { grid-area: c3g2; }
    
.c1h1 { grid-area: c1h1; }
.c1h2 { grid-area: c1h2; }
.c2h1 { grid-area: c2h1; }
.c2h2 { grid-area: c2h2; }
.c3h1 { grid-area: c3h1; }
.c3h2 { grid-area: c3h2; }  
    
.c1i1 { grid-area: c1i1; }
.c1i2 { grid-area: c1i2; }
.c2i1 { grid-area: c2i1; }
.c2i2 { grid-area: c2i2; }
.c3i1 { grid-area: c3i1; }
.c3i2 { grid-area: c3i2; }
    
.c1j1 { grid-area: c1j1; }
.c1j2 { grid-area: c1j2; }
.c2j1 { grid-area: c2j1; }
.c2j2 { grid-area: c2j2; }
.c3j1 { grid-area: c3j1; }
.c3j2 { grid-area: c3j2; }
    
.c1k1 { grid-area: c1k1; }
.c1k2 { grid-area: c1k2; }
.c2k1 { grid-area: c2k1; }
.c2k2 { grid-area: c2k2; }
.c3k1 { grid-area: c3k1; }
.c3k2 { grid-area: c3k2; }


.skillbar {
    width: 100%;
    height: 30px;
    background-color: black;
    display: inline-block;
    border-radius: 3px;
}

.skills {
    text-align: right;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.html {width: 90%;}
.css {width: 75%;}
.js {width: 60%;}
.bootstrap {width: 60%;}
.typescript {width: 75%;}
.angular {width: 0%;}
.php {width: 0%;}
.sql {width: 0%;}
.ajax {width: 0%;}
.jq {width: 0%;}
.vba {width: 75%;}

.git {width: 60%;}
.doc {width: 70%;}
.swtest {width: 0%;}
.sap {width: 50%;}
.jira {width: 75%;}
.enaio {width: 70%;}
.polarion {width: 80%;}

.scrum {width: 50%;}
.iso {width: 90%;}
.mdr {width: 75%;}
.iso62366 {width: 35%;}
.qsr {width: 90%;}


